@model MaintenanceWebsite.Models.DowntimeIssueSearchViewModel

@{
    ViewData["Title"] = "Search";
}

<span class="text-danger">@ViewBag.ErrorMessage</span>

<h1>Search</h1>

<hr />
<a asp-action="Create" asp-controller="DowntimeIssue" class="btn btn-primary">Create Downtime Issue</a>
<hr />

<form asp-action="Search" method="post">

    <div class="form-group">
        <label asp-for="SearchDate" class="control-label"></label>
        @Html.CheckBoxFor(m => m.SearchDate, new { onchange = "searchDateChanged();" })
    </div>
    <div class="form-group" id="StartDateDiv">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group" id="EndDateDiv">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SearchEquipment" class="control-label"></label>
        @Html.CheckBoxFor(m => m.SearchEquipment, new { onchange = "searchEquipmentChanged();" })
    </div>

    <div class="form-group" id="AreaDiv">
        <label asp-for="AreaId" class="control-label"></label>
        @Html.DropDownList("AreaId", Model.Areas, "Select Area", new { onchange = "document.forms[1].submit();", @class = "form-control" })
    </div>

    <div class="form-group" id="EquipmentDiv">
        <label asp-for="EquipmentId" class="control-label"></label>
        @Html.DropDownList("EquipmentId", Model.Equipment, "Select Equipment", new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Search Downtime Issues" class="btn btn-primary" />
    </div>
</form>

@Html.Partial("_DowntimeIssues_Search", Model.downtimeIssuesVM)

@section Scripts {
    <script type="text/javascript">
        function searchDateChanged() {
            if ($("#SearchDate").is(":checked")) {
                $("#StartDateDiv").show();
                $("#EndDateDiv").show();
            }
            else {
                $("#StartDateDiv").hide();
                $("#EndDateDiv").hide();
            }
        }
        function searchEquipmentChanged() {
            if ($("#SearchEquipment").is(":checked")) {
                $("#AreaDiv").show();
                $("#EquipmentDiv").show();
            }
            else {
                $("#AreaDiv").hide();
                $("#EquipmentDiv").hide();
            }
        }

        searchDateChanged();
        searchEquipmentChanged();
    </script>
}
